BOOKING_REMOTE_URL=https://outlook.office365.com/BookingsService/api/V1/bookingBusinessesc2/YOUR_BUSINESS_ID@your-domain.com
BOOKING_COOKIE=ClientId=YOUR_CLIENT_ID; msal.cache.encryption=YOUR_MSAL_CACHE; OIDC=1
X_OWA_CANARY=YOUR_X_OWA_CANARY_VALUE

# DYNAMO DB SETTINGS
DYNAMODB_TABLE_NAME=your-table-name
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_REGION=eu-west-2
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
