# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build output
dist/
dist-cdk/

# Local DynamoDB data
.dynamodb/

# User data
.cpv-booking/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
cdk.out